body {
  margin: 0;
  width: auto;
  scroll-behavior: smooth;
}
.mybox {
  border: 1px solid;
  height: 300px;
  width: 300px;
  background-color: gray;
  position: fixed;
  top: 100px;
  left: 400px;
  z-index: -1;
}
.otherbox {
  border: 1px solid;
  height: 100px;
  width: 100px;
  background-color: black;
  position: absolute;
  top: 100px;
  left: 100px;
}

a {
  color: hotpink;
}
a:hover {
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p,
h1 {
  font-family: "Antonio", sans-serif;
  margin: 10px;
}
nav {
  /* position: sticky;
  top: 0px; */
  background-color: rgb(20, 20, 68);
  border: 5px solid black;
  justify-content: space-between;
}
.navlist {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fontsample {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: green;
  font-style: oblique;
  font-weight: 700;
  background-color: rgb(8, 6, 10);
  border: 1px solid black;
  width: 200px;
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
  float: right;
  /* font-variant: small-caps; */
}

.exampe1 {
  text-align: center;
  /* text-align: justify; */
  color: rebeccapurple;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  text-decoration-line: underline;
  text-transform: uppercase;
  word-spacing: 10px;
  text-shadow: 2px 2px 5px red;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blueviolet;
  background-color: transparent;
}

table,
th,
td {
  border: 1px solid black;
  border-radius: 10px;
}
hr {
  background-color: red;
}
.test1 {
  border: 5px solid green;
  border-radius: 10px;
  margin: 10px;
}
.test1::after {
  content: "";
  clear: both;
  display: table;
}
