body {
  margin: 0;
  width: auto;
  scroll-behavior: smooth;
}

a {
  color: hotpink;
}
a:hover {
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

p,
h1 {
  font-family: "Antonio", sans-serif;
  margin: 10px;
}
nav {
  position: sticky;
  background-color: rgb(20, 20, 68);
  border: 5px solid black;
}
.list {
  max-width: 100%;
  /* position: sticky; */
}

.fontsample {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: green;
  font-style: oblique;
  font-weight: 700;

  /* font-variant: small-caps; */
}

.exampe1 {
  text-align: center;
  /* text-align: justify; */
  color: rebeccapurple;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

  text-decoration-line: underline;
  text-transform: uppercase;
  word-spacing: 10px;
  text-shadow: 2px 2px 5px red;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: blueviolet;
  background-color: transparent;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: right;
}

li a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}
table,
th,
td {
  border: 1px solid black;
  border-radius: 10px;
}
